@import "tailwindcss";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* Custom styles */

nav div ul li::before {
  content: none;
}

li::before {
  content: "✔";
  margin-right: 0.5rem;
  color: green;
  font-weight: bolder;
  position: absolute;
  left: -1.5rem;
}

li {
  position: relative;
  right: -1.5rem;
}
 
/* Hide scrollbar */
.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

/* Card hover effect */
.scrollContainer .flex > div:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}